#!/usr/bin/env ruby

compile '/css/*' do
  filter :sass, {
    :load_paths => [Dir.pwd + "/content/css"],
    :full_exception => true,
    :line_numbers => true
  }
end

compile '/posts/*' do
  rep.filter :erb
  rep.filter :rdiscount
  rep.layout 'default'
end

compile '/feeds/*' do
  rep.filter :erb
end

compile '/*' do
  rep.filter :erb
  rep.filter :rdiscount
  rep.layout 'home'
end

compile '*' do
end

route '/feeds/*' do
  "/feeds/" + item.name + ".xml"
end

route '/css/*' do
  item.identifier.gsub(/\/$/, '') + '.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
