#!/usr/bin/env ruby

compile '/posts/*' do
  rep.filter :bluecloth
end

compile '*' do
  rep.filter :haml
  rep.layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
