-----
title: Projects
layout: home
-----
- @title = "Alex Vollmer &mdash; Projects"
#feature
  %ul
    %li#radiantcapsule.project
      %a.featured-link{ :href => "http://radiantcapsule.com", :target => "_new" }
        %span &nbsp;
      %p
        Radiant Capsule is my one-man consulting firm. If you need experienced
        development help with your web or mobile app, give me a call!
        To learn more, check it out at
        %a{ :href => "http://radiantcapsule.com", :target => "_new" } http://radiantcapsule.com
    %li#github.project
      %a.featured-link{ :href => "http://github.com/alexvollmer", :target => "_new" }
        %span &nbsp;
      %ul
    %li#peepcode.project{ :class => "project last" }
      %a.featured-link{ :href => "http://peepcode.com", :target => "_new" }
        %span &nbsp;
      %ul
        %li
          %a{ :href => "http://peepcode.com/products/meet-macruby", :target => "_new" } MacRuby
          %p
            Learn to write "real" Mac OS X applications in Ruby
        %li
          %a{ :href => "http://peepcode.com/products/iphone-view-controllers-part-i", :target => "_new" } iPhone View Controllers Pt. I
          %p
            The first in a series, this screencast covers
            view controllers in iPhone OS.
        %li
          %a{ :href => "http://peepcode.com/products/iphone-view-controllers-part-ii", :target => "_new" } iPhone View Controllers Pt. II
          %p
            The second part of our coverage of view controllers.
        %li
          %a{ :href => "http://peepcode.com/products/iphone-views-i", :target => "_new" } iPhone Views Pt. I
          %p
            This screencast introduces UIKit and the palette of 
            built-in classes it provides.
  %br.clear

%script{ :type => "text/javascript", :src => "http://github.com/api/v2/json/repos/show/alexvollmer?callback=renderGitHub" }
