!!!xml
%methodResponse
  %params
    %param
      %value
        %array
          %data
            %value
              - BLOG_SITE.articles[0..max_posts].each do |post|
                = haml :post, :layout => false, :locals => {:post => post}
