!!!xml
%methodResponse
  %params
    %param
      %value
        %struct
          %member
            %name file
            %value
              %string=file
          %member
            %name url
            %value
              %string=url
          %member
            %name type
            %value
              %string=type

