!!!xml
%methodResponse
  %params
    %param
      %value
        %array
          %data
            %value
              %struct
                %member
                  %name "categoryId"
                  %value
                    %string "1"
                %member 
                  %name "parentId"
                  %value
                    %string "0"
                %member
                  %name "description"
                  %value
                    %string "Uncategorized"
                %member
                  %name "htmlUrl"
                  %value 
                    %string "http://#{LOCAL_SERVER_NAME}/category/uncategorized/"
                %member
                  %name "rssUrl"
                  %value 
                    %string "http://#{LOCAL_SERVER_NAME}/category/uncategorized/feed/"

