-----
-----
#items
  %h2
    .title
      All posts
    .backlink &nbsp;
  %ul
    - @years.each do |year|
      %li
        %a{ :href => "/posts/#{year}/" }
          = year
        %abbr
          = "(#{@site.article_count_for_year(year)})"
