-----
-----
%p
  Damn. I wish I'd come up with this idea.
  %a{ :href => "http://github.com" }github
  has to be about the coolest idea I've seen that is
  geek-centric, but about so much more than just the technology.
  Well, if I can't create it, at least I can enjoy using it.
%p
  See what I've made:
  %a{ :href => "http://github.com/alexvollmer" }
    %img{ :src => "/images/logov3.png", :width => "100", :height => "45" }
