-----

-----
#gr_grid_widget_1266075997
  %h2
    %a{ :href => "http://www.goodreads.com/user/show/1377937-alex?utm_medium=api&amp;utm_source=grid_widget", :style => "text-decoration: none;" }
      Alex's book montage
  .gr_grid_container
    .gr_grid_book_container
      %a{ :href => "http://www.goodreads.com/book/show/1607816.The_Elfish_Gene_Dungeons_Dragons_and_Growing_Up_Strange", :title => "The Elfish Gene: Dungeons, Dragons and Growing Up Strange" }
        %img{ :src => "http://photo.goodreads.com/books/1185811981s/1607816.jpg", :border => "0", :alt => "The Elfish Gene: Dungeons, Dragons and Growing Up Strange" }
    %br{ :style => "clear: both" }
    %br
    %a.gr_grid_branding{ :href => "http://www.goodreads.com/user/show/1377937-alex", :style => "font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" }
      Alex's favorite books &raquo;
    %noscript
      %br
      Share
      %a{ :href => "http://www.goodreads.com" }
        book reviews
      and ratings with Alex, and even join a
      %a{ :href => "http://www.goodreads.com/group/" }
        book club
      on Goodreads.
    %script{ :src => "http://www.goodreads.com/review/grid_widget/1377937?cover_size=&amp;num_books=20&amp;order=&amp;shelf=&amp;sort=&amp;widget_id=1266075997", :type => "text/javascript", :charset => "utf-8" }