-----
-----
%p
  Guess who's a book-nerd? Me! My book queue is mile high and
  growing by the day. I stick mostly to tech-stuff and history,
  but occasionally branch out into fiction. I love getting
  book recommendations so let me know if there's something
  I just
  %em have
  to check out.
%p
  See what I've been reading:
#gr_grid_widget_1265903764
  .gr_grid_container
    .gr_grid_book_container
      %a{ :href => "http://www.goodreads.com/book/show/5596923-burma-chronicles", :title => "Burma Chronicles" }
        %img{ :src => "http://ecx.images-amazon.com/images/I/51zeojKzTsL._SL75_.jpg", :border => "0", :alt => "Burma Chronicles" }
    .gr_grid_book_container
      %a{ :href => "http://www.goodreads.com/book/show/7183279-metaprogramming-ruby", :title => "Metaprogramming Ruby" }
        %img{ :src => "http://ecx.images-amazon.com/images/I/51lc90yMw9L._SL75_.jpg", :border => "0", :alt => "Metaprogramming Ruby" }
    .gr_grid_book_container
      %a{ :href => "http://www.goodreads.com/book/show/6399113-the-passionate-programmer", :title => "The Passionate Programmer: Creating a Remarkable Career in Software Development" }
        %img{ :src => "http://photo.goodreads.com/books/1255879944s/6399113.jpg", :border => "0", :alt => "The Passionate Programmer: Creating a Remarkable Career in Software Development" }
    %br{ :style => "clear: both" }
    %br
    %a.gr_grid_branding{ :href => "http://www.goodreads.com/user/show/1377937-alex", :style => "font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" }
      My favorite books &raquo;
    %noscript
      %br
      Share
      %a{ :href => "http://www.goodreads.com" }
        book reviews
      and ratings with Alex, and even join a
      %a{ :href => "http://www.goodreads.com/group/" }
        book club
      on Goodreads.
    %script{ :src => "http://www.goodreads.com/review/grid_widget/1377937.Alex's%20book%20montage?cover_size=medium&amp;num_books=5&amp;order=d&amp;shelf=read&amp;sort=date_added&amp;widget_id=1265903764", :type => "text/javascript", :charset => "utf-8" }
