-----
-----
%p
  Resum&eacute;s are so last-century. I mean, if you want,
  I can send you one. But why not check out what I've done
  in my career the way the cool kids do it.
%p
  See what I've worked on:
  %a{ :href => "http://www.linkedin.com/in/alexvollmer" }
    %img{ :src => "http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png", :border => "0", :height => "33", :alt => "View Alex Vollmer's profile on LinkedIn", :width => "160" }
