---
---
#items
  %h2
    .title
      Posts tagged
      "#{tag}"
    .backlink
      %a{ :href => "/tags/" } all tags
  %ul
    - items_with_tag(tag, @site.articles).each do |item|
      %li
        %a{:href => "/posts/#{item.full_path}/" }
          =item.title
        %abbr= "(#{item.short_date})"
