--- {}


---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Alex Vollmer dot com</title>

    <script type="text/javascript" src="/js/ung0eni.js"></script>
    <style type="text/css">.tk-presicav{font-family:"presicav-1","presicav-2",sans-serif;}</style>
    <link href="/css/ung0eni-standards.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>	
    
    <!-- include YUI reset or similar -->
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="wrap">
      <div id="head">
        <h1>Alex<br>Vollmer</h1>
        <ul id="nav">
          <li class="hal">Blog</li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <br class="clear"/> <!-- replace with self clear -->
      </div>
      <div id="feature">
        <ul>
          <li id="feature1">
            <a class="featured-link" href="#">
              <span>Moochbot</span>
            </a>
          </li>
          <li>
            <a class="featured-link" href="#">
              <span>Project Too</span>
            </a>
          </li>
          <li class="last">
            <a class="featured-link" href="#">
              <span>Projecto Tres</span>
            </a>
          </li>
        </ul>
        <br class="clear"/>
      </div>
      <div><%= yield %></div>
      <div id="blog">
        <h2>Posts</h2>
        <div class="post">
          <div class="postmeta">
            December 9, 2009
          </div>
          <div class="postbody">
            <h4><a href="#">Cleaning out the Closet</a></h4>
            <p>I’ve
              had a couple of nascent Ruby gems lurking in my Github account for what
              seems like ages. So, on a rainy Saturday afternoon, I did a little
              cleanup and pushed a couple of new gems out to Gemcutter.</p>
            <p>The
              first, is a gem I started over a year ago, called word-salad. It uses
              the built-in dictionary file to randomly pull words out. This is great
              when you just need to generate a bunch of English-like text, but don’t
              want to fall back on the boring old “lorem ipsum…” routine. </p>
            <p><a href="#">Read More…</a></p>
          </div>
        </div>
        <div class="post">
          <div class="postmeta">
            December 9, 2009
          </div>
          <div class="postbody">
            <h4><a href="#">The Cleverest Git Maneuver Ever</a></h4>
            <p>So
              there I was, reviewing a series of commits, sucking air between my
              teeth and cringing when I came upon one of those lazy commits that has
              way too much stuff in it to reasonably digest. I needed a way to go
              back and split that commit into two or three separate commits. This is
              pretty easy to do with git rebase. You can just do a mixed reset of the
              last commit, stage the bits you want in one commit, stage the next bits
              and put that in a separate commit. </p>
            <p><a href="#">Read More…</a></p>
          </div>
        </div>
      </div>
      <div id="else">
        <div id="bookshelf">
          <h2>Bookshelf</h2>
          <p>The first</p>			
        </div>
        <div id="twats">
          <h2><img src="alexvollmer-dot-com_files/avatar-sm_bigger.jpg" alt="Hello">I'm <a href="#">@alexvollmer</a> on twitter</h2>
          <!-- I cut & pasted this from Twitter, maybe not such a good idea... -->
          <ul>
            <li class="hentry u-alexvollmer status">
              <span class="status-body">
                <span class="entry-content">Just remember, somewhere out there, someone hates having to deal with code you wrote.</span>
                <span class="meta entry-meta">9:20 AM Dec 8th</span>
              </span>
            </li>
            <li class="hentry u-alexvollmer status">
              <span class="status-body">
                <span class="entry-content">Is three cups of coffee in one morning too much?</span>
                <span class="meta entry-meta">9:20 AM Dec 8th</span>
              </span>
            </li>
            <li class="hentry u-alexvollmer status">
              <span class="status-body">
                <span class="entry-content">Just remember, somewhere out there, someone hates having to deal with code you wrote.</span>
                <span class="meta entry-meta">9:20 AM Dec 8th</span>
              </span>
            </li>
            
          </ul>
          <p><a href="#">Read More…</a></p>
        </div>
        
        <br class="clear"/>
      </div>
      
      
    </div>
    <div id="footertrim">&nbsp;</div>
    <div id="footer">
      
      <div id="footercontent">
        <table>	
          <tbody><tr valign="top"><!-- how does TH work anyway? -->
              <th scope="col">Blogroll</th>
              <td>
                <a href="#">Coding Horror</a> | 		
                <a href="#">Loud Thinking</a> | 
                <a href="#">Martin Fowler’s Bliki</a> | 
                <a href="#">Nuby on Rails</a> | 
                <a href="#">Reign of Error</a> | 
                <a href="#">Technomancy</a> | 
                <a href="#">User Primary Blog</a>				 
              </td>
            </tr>
            <tr valign="top">
              <th>Subscribe</th>
              <td>
                <a href="#">Entries</a> | 
                <a href="#">Comments</a> | 
                <a href="#">I'm Just Making</a> | 
                <a href="#">These Up</a> 
              </td>
            </tr>
        </tbody></table>
      </div>
    </div><div style="display: none;" id="tkloadung0eni"></div>
    
  </body>
</html>
