#gr_grid_widget_1266033387, #gr_grid_widget_1266075997
  h2
    display: none
  img
    border: none
    margin: 0
    padding: 0
  .gr_grid_container
    width: 400px
    .gr_grid_branding
      display: none
  .gr_grid_book_container
    float: left
    width: 39px
    height: 60px
    padding: 0px 0px
    overflow: hidden
